// Colors
$grey: #333;
$white: #fff;
$blue_bg: #B5D0E2;
$blue_brdr: #2099E8;

// Navigation colors
$nav-background: $grey;
$nav-text-color: $white;

// Clock variables
$clock-text-color: $white;
$clock-bg-color: $blue_bg;
$clock-border-color: $blue_brdr;
